/*    Table of contents:

        1. Global styles and Typography
    
        2. Layout
    
        3. Components 
        
        4. Media Queries    */



/* ===== Global Styles, Typography ===== */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Lexend;
  src: url(./fonts/LexendDeca-Regular.ttf);  
}

@font-face {
  font-family: BigShoulders;
  src: url(./fonts/BigShouldersDisplay-Medium.ttf)
}

body {
  font-family: Lexend;
  font-size: 14px;
  font-weight: lighter;
  background-color: hsl(0, 0%, 95%);
  width: auto;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 95%);
  margin-top: 2rem;
}

h2 {
  font-family: BigShoulders;
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin-top: 40px;
}

img {
  width: 60px;
  height: 36px;
  margin-top: 45px;
}

p {
  display: block;
  line-height: 1.6em;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 32px;
}


/*  ===== Layout ===== */

.suvs,
.sedans,
.luxury {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 468px;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 9px 9px 0 0;
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 9px 9px;
}

footer {
  text-align: center;
  font-size: 11px;
  margin-bottom: 40px;
}



/*  ===== Components ===== */



button {
  width: 137px;
  height: 47px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50px 50px 50px 50px;
  font-family: Lexend;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 45px;
  bottom: 45px;
  margin-top: 68px;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

.sedans button:hover,
.sedans button:focus {
  background-color: hsl(31, 77%, 52%);
}

.suvs button:hover,
.suvs button:focus {
  background-color: hsl(184, 100%, 22%);
}

.luxury button:hover,
.luxury button:focus {
  background-color: hsl(179, 100%, 13%);
}

button:hover,
button:focus {
  color: white;
  border: 2px solid white;
}


/*  =====  Media  Queries ===== */


@media (min-width: 800px) {
  main {
    flex-direction: row;
    justify-content: center;
    min-height: 92vh;
    margin-top: auto;
  }

  .sedans {
    border-radius: 9px 0 0 9px;
  }

  .luxury {
    border-radius: 0 9px 9px 0;
  }
}